torch==2.4.0
torchvision
torchaudio
diffusers==0.11.1
transformers==4.25.1
imageio==2.34.0
decord==0.6.0
gdown
omegaconf
gradio==3.40
xformers==0.0.28.dev864
imageio-ffmpeg==0.4.9
decord==0.6.0
omegaconf==2.3.0
safetensors
einops
wandb
